<div class="<%= patternName %>">
    <!-- HTML for <%= patternName %> -->

    {{ # anotherVariable }}
        <img src="{{ content.img.src }}" alt="{{ content.img.alt }}" title="{{ content.img.alt }}"/>
    {{ / anotherVariable }}

    <h1>{{ content.page.title }}></h1>
    
    <p>{{ content.page.content }}</p>

</div>